@import "../../theme/config";
@import "../../theme/mixins/container";

.topMenu {
  height: $theme-top-menu-height;
  display: flex;
  @include container;
}

.homeLink {
  background: url('../../theme/images/layout/josoor-logo-horizontal-colored.svg') center no-repeat;
  background-size: 150px;
  width: 150px;
  display: block;
  height: $theme-top-menu-height;
  text-indent: -9999px;
}

.itemsLeft {
  flex-grow: 1;
}

.itemsRight {
  flex-grow: 0;
  display: flex;
  align-items: center;

  > * {
    margin-left: 20px;
  }
}

.blogLink {
  font-size: 15px;
  color: $theme-color-main-light;
  font-family: $theme-font-sans-medium;
  &:hover {
    text-decoration: underline;
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $theme-footer-height;
  width: 100%;
  background: $theme-color-main-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  a:link, a:visited {
    color: white;
  }
}
