@import "../../theme/config";
@import "../../theme/mixins/container";
@import "../../theme/mixins/decorations";

.separator {
  @include separator;
}

.content {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 640px;
}

.projectsSection {
  margin-top: 20px;
}

.factStripeOrange {
  background: url('../../assets/home/world-map-stripe-orange.png') no-repeat;
}

.factStripeDark {
  background: url('../../assets/home/world-map-stripe-dark.png') no-repeat;
}

.factStripeOrange, .factStripeDark {
  margin-top: 40px;
  margin-bottom: 30px;
  background-size: cover;
  text-transform: uppercase;
  padding: 40px 10px;
  font-family: $theme-font-sans-bold;
  color: white;
  font-size: 24px;
  line-height: 1.5em;

  @media ($theme-breakpoint-small) {
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  @media ($theme-breakpoint-medium) {
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

.societyChallengesSection {
  margin-bottom: 40px;
}

.whatWeDoSection {
  margin: 4em 0;
  background-size: cover;
}

.joinUsSection {
  margin-top: 40px;
  margin-bottom: 60px;
}
