@import "../../theme/config";
@import "../../theme/mixins/container";
@import "../../theme/mixins/decorations";

.separator {
  @include separator;
}

.content {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 640px;
}

.factStripe {
  margin-top: 40px;
  margin-bottom: 30px;
  @media ($theme-breakpoint-small) {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  @media ($theme-breakpoint-medium) {
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

.projectsSection {
  margin-top: 20px;
}

.societyChallengesSection {
  margin-bottom: 40px;
}

.whatWeDoSection {
  margin: 4em 0;
}

.joinUsSection {
  margin-top: 40px;
  margin-bottom: 60px;
}
