@import "_config";
// Theme config overrides go here …
$bubble-border-color: #eee;
$bubble-border-radius: 0;
$bubble-box-shadow: none;
@import "~react-polymorph/lib/themes/simple/SimpleBubble";
// Css module overrides go here …
