@import "_config";
// Theme config overrides go here …
$button-bg-color-normal: $theme-color-main-light;
$button-bg-color-hover: darken($theme-color-main-light, 10%);
$button-bg-color-active: darken($theme-color-main-light, 15%);
$button-bg-color-disabled: #b9c2cc;
$button-label-font: $theme-font-bold;
$button-font-size: 16px;
$button-border-radius: 4px;
$button-padding: 10px 15px;
@import "~react-polymorph/lib/themes/simple/SimpleButton";
// Css module overrides go here …

.root {
  text-transform: uppercase;
}
