@import "../../../../theme/polymorph/custom/config";
// Theme config overrides go here
$select-up-arrow-url: url('../assets/select-up-arrow-white.svg');
$select-up-arrow-focus-url: $select-up-arrow-url;
$select-down-arrow-url: url('../assets/select-down-arrow-white.svg');
$select-down-arrow-focus-url: $select-down-arrow-url;
$select-input-bg-color: transparent;
$select-down-arrow-position-left: 100%;
$select-input-padding: 0 1em 0 0;
$select-down-arrow-position-bottom: 6px;
@import "../../../../../node_modules/react-polymorph/source/themes/simple/SimpleSelect";
// Css module overrides go here …

.select {
  width: 7em;

  :global {
    .SimpleBubble_bubble {
      box-shadow: none;
    }
    .SimpleBubble_root:not(.SimpleBubble_transparent) .SimpleBubble_bubble {
      border: none;
    }
    .SimpleBubble_root:not(.SimpleBubble_openUpward) .SimpleBubble_bubble {
      margin-top: -10px;
    }
  }
}

.selectInput {
  input {
    border: none;
    color: white;
    text-align: right;
    text-transform: uppercase;
    font-family: $theme-font-sans-regular;
    font-size: 15px;
  }
}
