@import "../../../../theme/polymorph/custom/config";
// Theme config overrides go here
$select-input-bg-color: transparent;
$select-input-border: none;
$select-input-color: white;
$select-arrow-color: white;
$select-open-arrow-color: white;
$select-input-padding: 0 2em 0 0;
$select-arrow-width: 11px;
// closed
$select-arrow-url: url('../assets/select-down-arrow-white.svg');
$select-arrow-position-bottom: 6px;
$select-arrow-position-left: calc(100% - #{$select-arrow-width});
// open
$select-open-arrow-position-bottom: 7px;
$select-open-arrow-url: url('../assets/select-up-arrow-white.svg');
@import "~react-polymorph/source/themes/simple/SimpleSelect";
// Css module overrides go here …

.select {
  width: 9em;

  :global {
    .Options_option {
      padding: 0;
      &.Options_selectedOption:after {
        margin-bottom: 7px;
        margin-right: 13px;
      }
    }
    .SimpleBubble_bubble {
      box-shadow: none;
    }
    .SimpleBubble_root:not(.SimpleBubble_transparent) .SimpleBubble_bubble {
      border: none;
    }
  }
}

[dir="rtl"] .select {
  :global {
    .Options_option.Options_selectedOption:after {
      margin-right: 40px;
    }
  }
}

.selectInput {
  input {
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-family: $theme-font-sans-regular;
    font-size: 15px;
  }
}
