@import "../../theme/config";
@import "../../theme/mixins/container";

.impress {
  @include container;
  max-width: 640px;
  text-align: center;

  .text {
    font-family: $theme-font-sans-light;
    line-height: 1.5em;

    span {
      display: block;
      margin: 1em 0;
    }
  }
}

.josoorLogo {
  margin: 20px 0;
  width: 240px;
}
