@import "config";

@font-face {
  font-family: 'Freight-Sans-Light';
  src: url('./fonts/freight/Freight-Sans-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Freight-Sans-Medium';
  src: url('./fonts/freight/Freight-Sans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Freight-Sans-Book';
  src: url('./fonts/freight/Freight-Sans-Book.otf') format('opentype');
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $theme-footer-height;
  padding-bottom: 60px;
}
