@import "../../theme/config";
@import "../../theme/mixins/container";

.header {
  display: none;
  @media (min-width: $theme-breakpoint-small) {
    display: block;
    background-color: #333;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.impress {
  @include container;
  padding-top: 60px;
  text-align: center;
  @media (min-width: $theme-breakpoint-small) {
    padding-top: 40px;
    max-width: 640px;
  }
}

.text {
  font-size: 18px;
  font-family: $theme-font-sans-light;
  line-height: 1.5em;

  h1 {
    margin-top: 0;
  }

  span {
    display: block;
    margin: 1em 0;
  }
}

.josoorLogo {
  width: 240px;
}
