@import "../../theme/polymorph/custom/config";

.headline {
  display: block;
  text-align: center;
}

.formField {
  margin-top: 1em;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 1em 0;
  margin-top: 20px;
  border: 1px solid $theme-color-main-light;
  border-radius: 20px;
  color: $theme-color-main-light;
  font-family: $theme-font-bold;
  font-size: 16px;
  background-color: white;

  &:hover {
    background-color: $theme-color-main-light;
    color: white;
    cursor: pointer;
  }
}
