.component {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background: url("../../theme/images/spinner-light.svg") no-repeat center;
  background-size: 20px;
  :global {
    animation: loading-spin 1.5s linear;
    animation-iteration-count: infinite;
  }
}
