@import "../../theme/polymorph/custom/_config";

.button {
  display: block;
  border: 2px solid white;
  border-radius: 50px;
  color: white !important;
  font-family: $theme-font-sans-bold !important;
  font-size: 15px;
  text-align: center;
  padding: 1em 4em 0.8em;
  text-transform: uppercase;

  @media (max-width: $theme-breakpoint-medium) {
    padding-right: 2em;
    padding-left: 2em;
  }

  &:hover {
    background-color: rgba(white, 0.5);
    color: black;
    cursor: pointer;
    text-decoration: none !important;
  }

  &:active {
    background-color: white;
    color: black;
  }

  &:focus {
    outline: none;
  }
}
