@import "../../../theme/config";

.root {
  background-size: cover;
  text-transform: uppercase;
  padding: 40px 10px;
  font-family: $theme-font-sans-bold;
  color: white;
  font-size: 24px;
  line-height: 1.5em;

  @media (min-width: $theme-breakpoint-small) {
    font-size: 28px;
  }

  @media (min-width: $theme-breakpoint-medium) {
    font-size: 32px;
  }
}
