@import "../../../theme/polymorph/custom/config";

.root {
  padding-bottom: 4em;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.headline, .description p {
  color: white;
}

.description p {
  margin-bottom: 1.5em;
}
