@import "../../../theme/polymorph/custom/config";

.root {
  padding-bottom: 4em;
  border-bottom: 1px solid #eee;
}

.headline {
  margin-bottom: 0.5em;
}

.description {
  p {
    margin-bottom: 1.5em;
  }
}

.facebookShare {
  margin-bottom: 20px;
}

.fbLink {
  display: block;
  margin-bottom: 1em;
  &:link, &:visited {
    color: #4266b2;
  }
  img {
    width: 40px;
    margin: 10px auto;
    display: block;
    position: relative;
  }
}

.bankDetails {
  margin-top: 20px;
  font-size: 15px;
}
