@import "../../../theme/polymorph/custom/_config";
@import "../../../theme/mixins/container";

.mobileMenu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end
}

.menuIcon {
  width: 15px;
  height: 15px;
  background: url('../../../theme/images/layout/menu/mobile-menu-icon.svg') center no-repeat;
  cursor: pointer;
  position: relative;
  top: -1px;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;

  .menuItems {
    margin: 60px auto 0 auto;
    width: calc(100% - 80px);
    text-transform: uppercase;
  }

  .menuLink {
    display: block;
    color: #474d57;
    border-bottom: 1px solid $theme-color-main-light;
    margin-bottom: 20px;
    font-family: $theme-font-sans-light;
    padding: 0 17px 20px 8px;
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 10px;
      background: url('../../../theme/images/arrow-right.svg') no-repeat;
      background-size: 9px;
    }
  }

  .joinUsButton {
    width: 100%;
    background-color: $theme-color-main-light;
    font-family: $theme-font-sans-bold;

    &:hover, &:active {
      background: none;
      border: 2px solid $theme-color-main-light;
    }
  }
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 43px;
  width: 17px;
  height: 17px;
  background: url('../../../theme/images/layout/menu/mobile-menu-close-icon.svg') center no-repeat;
  cursor: pointer;
}

[dir="rtl"] .closeIcon {
  right: initial;
  left: 50px;
}

// ======= STATES ========

.isOpen {
  .closeIcon {
    display: block;
  }
  .menuIcon {
    display: none;
  }
}

.mobileMenu:not(.isOpen) {
  .closeIcon {
    display: none;
  }
  .menuOverlay {
    display: none;
  }
}
