@import "../../../theme/config";

.profile {
  position: relative;
}

.userName {
  font-family: $theme-font-sans-medium;
}

.logoutButton {
  border: 0;
  padding: 0;
  background: none;
  display: block;
  position: absolute;
  right: 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
