@import "../../../theme/polymorph/custom/_config";
@import "../../../theme/mixins/container";

.topMenu {
  width: 100%;
  height: $theme-top-menu-height-mobile;
  background-color: white;
  display: flex;
  position: fixed;
  z-index: 1;
  padding: 0 1em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);

  .desktopMenu {
    display: none;
  }

  @media (min-width: $theme-breakpoint-small) {
    position: sticky;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    @include container;

    .desktopMenu {
      display: inherit;
    }
    .mobileMenu {
      display: none;
    }
  }
}

.homeLink {
  width: 100px;
  background: url('../../../theme/images/layout/josoor-logo-horizontal-colored.svg') center no-repeat;
  background-size: 100px;
  display: block;
  height: $theme-top-menu-height-mobile;
  text-indent: -9999px;
}

.itemsLeft {
  flex-grow: 1;
}

.itemsRight {
  flex-grow: 0;
}

@media (min-width: $theme-breakpoint-small) {
  .topMenu {
    height: $theme-top-menu-height;
  }

  .homeLink {
    width: 150px;
    height: $theme-top-menu-height;
    background: url('../../../theme/images/layout/josoor-logo-horizontal-white.svg') center no-repeat;
    background-size: 150px;
  }

  .itemsLeft {
    flex-grow: 1;
  }

  .itemsRight {
    flex-grow: 0;
    display: flex;
    align-items: center;
  }
}
