// COLORS
$theme-color-main-light: #eda87a;
$theme-color-main-dark: #62676f;

// FONTS
$theme-font-sans-light: 'Freight-Sans-Light';
$theme-font-sans-medium: 'Freight-Sans-Medium';
$theme-font-sans-book: 'Freight-Sans-Book';

// LAYOUT
$theme-footer-height: 50px;
$theme-top-menu-height: 50px;
