// COLORS
$theme-color-main-light: #eda87a;
$theme-color-main-dark: #484c53;

// FONTS
$theme-font-sans-light: 'Tisa-Sans-Light';
$theme-font-sans-regular: 'Tisa-Sans-Regular';
$theme-font-sans-bold: 'Tisa-Sans-Bold';
$theme-font-sans-medium-italic: 'Tisa-Sans-Medium-Italic';

// LAYOUT
$theme-footer-height: 50px;
$theme-top-menu-height: 80px;
