// COLORS
$theme-color-main-light: #eda87a;
$theme-color-main-dark: #484c53;

// FONTS
$theme-font-sans-light: 'Freight-Sans-Light';
$theme-font-sans-medium: 'Freight-Sans-Medium';
$theme-font-sans-book: 'Freight-Sans-Book';
$theme-font-serif-bold: 'TisaPro-Bold';

// LAYOUT
$theme-footer-height: 50px;
$theme-top-menu-height: 80px;
