@import "../../../theme/polymorph/custom/config";

.root {
  h1 {
    margin-bottom: 40px;
    @media (min-width: $theme-breakpoint-small) {
      margin-bottom: 50px;
    }
    @media (min-width: $theme-breakpoint-medium) {
      margin-bottom: 60px;
    }
  }
}

.project {
  border: 1px solid $theme-color-main-light;
  padding: 40px;
  margin-bottom: 20px;

  h2 {
    display: none;
  }
}

.info {
  font-family: $theme-font-sans-regular;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5em;
}

.state {
  color: $theme-color-main-light;
  font-family: $theme-font-sans-light;
  text-transform: uppercase;
}

.learnMoreButton {
  margin-top: 2em;
  display: block;
  border: 2px solid $theme-color-main-light;
  border-radius: 50px;
  color: white;
  font-family: $theme-font-sans-bold;
  font-size: 15px;
  text-align: center;
  padding: 1em 2em 0.8em;
  text-transform: uppercase;

  &:hover {
    background-color: $theme-color-main-light;
    color: white;
    cursor: pointer;
    text-decoration: none !important;
  }

  &:active {
    background-color: $theme-color-main-light;
    color: white;
  }

  &:focus {
    outline: none;
  }
}
