@import "../../../theme/config";
@import "../../../theme/mixins/container";

.content {
  @include container;
  max-width: 640px;

  p {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
}

.blogHeader {
  @media (min-width: 640px) {
    background: url('../../../assets/home/header.jpg') no-repeat center center;
    background-size: cover;
    height: 240px;
    margin-top: -80px;
  }
}

.imageBox {
  background: white;
  margin-bottom: 20px;

  @media (min-width: 640px) {
    @include container;
    max-width: 640px;
    padding: 30px;
    margin: -120px auto 0 auto;
  }
}

.image {
  width: 100%;
}

.joinUsSection {
  margin-top: 60px;
  border-top: 1px solid #eee;
}
