@import "../../../theme/config";
@import "../../../theme/mixins/container";

.content {
  @include container;
  max-width: $theme-breakpoint-small;

  p, li {
    margin-bottom: 1.5em;
  }

  ul {
    list-style: disc;
    margin-left: 18px;
  }

  li {
    padding-left: 10px;
  }

  strong {
    font-family: $theme-font-sans-bold;
  }

  hr {
    margin-bottom: 2em;
  }

  .teaser {
    margin-top: 1em;
    margin-bottom: 3em;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
    font-family: $theme-font-sans-light;
    line-height: 1.5em;
    font-size: 18px;
    text-align: center;
  }
}

.blogHeader {
  @media (min-width: $theme-breakpoint-small) {
    background: url('../../../assets/home/header.jpg') no-repeat center center;
    background-size: cover;
    height: 240px;
    margin-top: -80px;
  }
}

.imageBox {
  background: white;
  margin-bottom: 20px;
  padding-top: $theme-top-menu-height-mobile;

  @media (min-width: $theme-breakpoint-small) {
    @include container;
    max-width: 640px;
    padding: 30px;
    margin: -120px auto 0 auto;
  }
}

.image {
  width: 100%;
}

.joinUsSection {
  margin-top: 20px;
  margin-bottom: 40px;
}

.gallery {
  margin: 40px -8px;
}

.galleryImage {
  margin-bottom: 20px;
  overflow: hidden;
  @media (max-width: $theme-breakpoint-small) {
    max-height: initial !important;
  }
  img {
    width: 100%;
    @media (min-width: $theme-breakpoint-small) {
      width: auto;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
    }
  }
}
