@import "../../../theme/config";
@import "../../../theme/mixins/container";

.content {
  @include container;
  max-width: 640px;
}

.blogHeader {
  @media (min-width: 640px) {
    background: url('../../../assets/home/header.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
  }
}

.imageBox {
  background: white;
  margin-bottom: 20px;

  @media (min-width: 640px) {
    @include container;
    max-width: 640px;
    padding: 30px;
    margin: -120px auto 0 auto;
  }
}

.image {
  width: 100%;
}
