@import "../../../theme/config";
@import "../../../theme/mixins/container";
@import "../../../theme/mixins/decorations";

.root {
  @include container;
  max-width: 680px;
  margin-top: 80px;
}

.postsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.postImage {
  width: 100%;
}

.postTeaser {
  font-family: $theme-font-sans-regular;
  font-size: 15px;
  margin-top: 20px;
}
